body {
  background-color: #1ef3c8;
}
.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #000;
}
.nav-link{
text-decoration: none;
font-size: 40px;
margin: 10px;
color: #1ef3c8;
}
.nav-link:hover{
  color: snow;
}
@media (max-width: 375px) {
  .nav-link{
      font-size: 25px;
  }
}
.welcome-section{
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  font-size: 80px;
  font-family: Jacques Francois Shadow;
}
.webdev{
  font-size: 25px;
  
}
@media (max-width: 375px) {
  h1{
    font-size: 45px;
  }
  .webdev{
    font-size: 18px;
  }
}
h2{
  font-size: 50px;
padding-top: 70px;
}
.section{
  text-align: center;
}
.cover {
  height: 350px;
  width: 350px;
}
.project{
  background-color: #000;
  height: 405px;
  width: 350px;
  text-align: center;
  font-size: 30px;
  color: #1ef3c8;
  
}
.project:hover{
  color: snow;
}
.title{
  text-decoration: none;
}
.project-tile{
  display: flex;
  justify-content: center;
}
.tribute, .survey, .product{
  margin: 15px;
}
@media (max-width: 1150px) {
  .project-tile{
    flex-direction: column;
    justify-content: center;
  }
  .tribute, .survey, .product{
margin: 0 auto;

  }
  .survey, .product{
margin-top: 25px;

  }
  h2{
      font-size: 35px;
  }
}
.fcc, .github{
font-size: 60px;
color: #000; 
}
.fcc:hover{
color: snow;
}
.github:hover{
color: snow;
}
